{{#if updated}}
    <p><strong>Your profile has been updated!
            <a href="/petition">Go to the petition page</a></strong></p>
{{/if}}
<form action="/profile/edit" method="post">
    <h4><strong>Edit your profile 🥰</strong></h4>
    <input type="text" value="{{first}}" placeholder="firstname" name="first" />
    <br />
    <input type="text" value="{{last}}" placeholder="lastname" name="last" />
    <br />
    <input type="text" value="{{email}}" placeholder="email" name="email" />
    <br />
    <input type="password" placeholder="password" name="password" />
    <br />
    <input type="text" value="{{age}}" placeholder="age" name="age" />
    <br />
    <input type="text" value="{{city}}" placeholder="city" name="city" />
    <br />
    <input type="text" value="{{url}}" placeholder="website" name="url" />
    <br />
    <button type="submit"><strong>SUBMIT</strong></button>
    {{#if err}}
        <p>Error 😞</p>
    {{/if}}
</form>