{{#each this}}
    <p>
        {{first}}
        {{last}}
        {{age}}
        {{#if city}}
            <a href="/signers/{{city}}">{{city}}</a>
        {{/if}}
        {{#if url}}
            <a href="{{url}}" target="_blank">{{url}}</a>
        {{/if}}
    </p>
{{/each}}